@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.mobile-header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 51px;

  @include mx.mq("lg") {
    display: block;
  }
}

.burger-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: fn.get-color("dark");
  border: none;
  background-color: transparent;

  transition: fill 0.5s ease;

  &.is-open {
    display: none;
  }

  @include mx.mq("lg") {
    display: none;
  }
}

.close-menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  fill: fn.get-color("dark");
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid fn.get-color("border");
  background-color: fn.get-color("background-primary");

  cursor: pointer;

  &.is-open {
    display: none;
  }

  @include mx.mq("lg") {
    display: none;
  }
}

.burger-menu-btn-icon,
.close-btn-icon {
  width: 100%;
  height: 100%;

  @include mx.mq("lg") {
    display: none;
  }
}
