@use "mixins" as mx;
@use "variables" as var;

%menu-text {
  @include mx.font(14, 21, -1, 500);
}

%main-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.66;
  letter-spacing: 0.02em;
}

%section-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.025em;
}

%main-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
