@use "mixins" as mx;
@use "variables" as var;

%menu-text {
  @include mx.font(14, 21, -1, 500);
}

%main-title {
  @include mx.font(24, 39, 1, 600);
}

%table-title {
  @include mx.font(14, 21, -1, 500);
  text-align: left;
}

%table-text {
  @include mx.font(14, 21, -1, 500);
  text-align: left;
}

%pagination-text {
  @include mx.font(12, 12, -1, 500);
}

%main-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
