$breakpoints: (
  "sm": 320px,
  "lg": 1440px,
);

$colors: (
  "light": #fff,
  "dark": #000,
  "side-light-grey": #9197b3,
  "side-dark-grey": #757575,
  "side-grey": #838383,
  "light-primary": #b5b7c0,
  "light-secondary": #404b52,
  "light-active": #16c098,

  "background-primary": #fafbff,
  "background-secondary": #f9fbff,
  "background-active": rgba(22, 192, 152, 0.38),
  "background-inactive": #ffc5c5,
  "background-pagination": #f5f5f5,
  "background-selected": #5932ea,

  "dark-primary": #292d32,
  "dark-secondary": #404b52,
  "dark-active": #008767,
  "dark-inactive": #df0404,

  "transparent": transparent,
  "current": currentColor,
);

$paddings: (
  "sm": 4px,
  "md": 8px,
  "lg": 16px,
  "xl": 20px,
);

$spacers: (
  "sm": 24px,
  "md": 32px,
  "lg": 36px,
  "xl": 68px,
);

$main-font: "Poppins";

$font-weights: (
  "Regular": 400,
  "Medium": 500,
  "SemiBold": 600,
  "Bold": 700,
);

$font-sizes: (
  "sm": 14px,
  "md": 16px,
  "lg": 20px,
  "xl": 24px,
);

$easings: (
  "fast": 300ms ease,
  "slow": 600ms ease,
);
