<section class="table-wrap">
  <div class="table-data">
    <div class="title-wrap">
      <div>
        <h3 class="title">All Customers</h3>
        <p class="subtitle">Active Members</p>
      </div>
      <label class="label">
        <svg class="input-icon" width="24px" height="24px">
          <use href="/img/sprite.svg#icon-search"></use>
        </svg>

        <input class="input" type="text" placeholder="Search" />
      </label>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th class="table-head">Customer Name</th>
          <th class="table-head">Company</th>
          <th class="table-head">Phone Number</th>
          <th class="table-head">Email</th>
          <th class="table-head">Country</th>
          <th class="table-head status">Status</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td colspan="6">
            <div class="line"></div>
          </td>
        </tr>
        <script type="module" src="/js/rows.js"></script>
      </tbody>
    </table>

    <div class="pagination-wrap">
      <p class="show-data">Showing data 1 to 8 of 256K entries</p>
      <load src="./pagination.html" />
      <script src="/js/pagination.js"></script>
    </div>
  </div>
</section>
