.pagination
  button.pagination-btn#prev-btn &lt;
  button.pagination-page.active(data-page="1") 1
  button.pagination-page(data-page="2") 2
  button.pagination-page(data-page="3") 3
  button.pagination-page(data-page="4") 4
  button.pagination-dots ...
  button.pagination-page(data-page="40") 40
  button.pagination-btn#next-btn &gt;
