.sidebar-container
  aside.sidebar.js-menu#sidebar-menu
    nav.menu
      button(class="close-menu-btn js-menu-close" type="button" aria-label="Close menu" aria-expanded="false")
        svg.close-btn-icon(width="24" height="24")
          use(href="img/sprite.svg#icon-close")

      a.logo(href="./index.html")
        svg.logo-icon(width="37" height="37")
          use(href="/img/sprite.svg#icon-logo")
        div Dashboard<span class="version">v.01</span>

      ul.menu-list
        li.menu-item
          a.menu-link(href="./index.html")
            .menu-wrap
              svg.menu-icon(width="24" height="24")
                use(href="/img/sprite.svg#icon-key-square")
              | Dashboard

        li.menu-item
          a.menu-link(href="")
            .menu-wrap
              svg.menu-icon(width="24" height="24")
                use(href="/img/sprite.svg#icon-d-square")
              | Product
            svg.menu-icon(width="16" height="16")
              use(href="/img/sprite.svg#icon-chevron-right")

        li.menu-item
          a.menu-link.current(href="")
            .menu-wrap
              svg.menu-icon(width="24" height="24")
                use(href="/img/sprite.svg#icon-user-square")
              | Customers
            svg.menu-icon(width="16" height="16")
              use(href="/img/sprite.svg#icon-chevron-right")

        li.menu-item
          a.menu-link(href="")
            .menu-wrap
              svg.menu-icon(width="24" height="24")
                use(href="/img/sprite.svg#icon-wallet-money")
              | Income
            svg.menu-icon(width="16" height="16")
              use(href="/img/sprite.svg#icon-chevron-right")


        li.menu-item
          a.menu-link(href="")
            .menu-wrap
              svg.menu-icon(width="24" height="24")
                use(href="/img/sprite.svg#icon-discount-shape")
              | Promote
            svg.menu-icon(width="16" height="16")
              use(href="/img/sprite.svg#icon-chevron-right")


        li.menu-item
          a.menu-link(href="")
            .menu-wrap
              svg.menu-icon(width="24" height="24")
                use(href="/img/sprite.svg#icon-message-question")
              | Help
            svg.menu-icon(width="16" height="16")
              use(href="/img/sprite.svg#icon-chevron-right")

    .user-wrap
      img(srcset="/img/user@1x.png, /img/user@2x.png" src="/img/user@1x.png" alt="user photo" class="user-photo-img" width="42" height="42")
      div
        p.user-name Evano
        p.user-position Project Manager

